<h2>Edit {{ theMovie.name }}</h2>

<form action="/movies/edit/{{theMovie._id}}" method="POST">
    <label>NAME</label>
    <input type="text" name="name" value="{{ theMovie.name }}">

    <label for="director">DIRECTOR</label>
    <input type="text" name="director" value="{{ theMovie.director }}">

    <label for="image">IMAGE</label>
    <input type="text" name="image" value="{{theMovie.image }}">

    <button>UPDATE MOVIE</button>

</form>